@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --lightText: #595959;
    --secondary:#B3C677;
    --primary: #98B03C;
    --accent1: #CEDCB2;
    --accent2: #E9F2EE;
    --accent3: #D9D9D9;
    --ratingYellow:#ffca28;
    --lightPrimary: #98B03C66;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif ;
}

input.PhoneInputInput{
  outline: none!important;
}

.ty-primary-gradient{
  background: linear-gradient(180deg, #B3C677 0%, #98B03C 100%);
}